html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

.body{
	float:left;
}

.nav{
	color:dark;
	appearance:sm;
	background-color:red;
}
@media screen and (min-width: 750px){
	.img{
		width: 100px;
		float: left;
		margin-bottom: 20px;
	}
}

#mainContent {
	float: right;
	width: 740px;
	margin-right: 25px;
	overflow: hidden;
  }
  #secondaryContent {
	float: left;
	margin-top: 150px;
	width: 440px;
	padding-left: 25px;
  }
  #pageFooter {
	background: #e1d8b9;
	clear:both;
	overflow: auto;
	border-top: 1px solid #757575;
	height: 300px;
	width: 100%;
  }
  .callOut {
	background: #b9dbe1;
	padding: 25px;
	margin-bottom: 25px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 0px;
	width: 385px;
  }