html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

.body{
	float:left;
}

.nav{
	color:dark;
	appearance:sm;
	background-color:red;
}
@media screen and (min-width: 750px){
	.img{
		width: 100px;
		float: left;
		margin-bottom: 20px;
	}
}

#mainContent {
	float: right;
	width: 740px;
	margin-right: 25px;
	overflow: hidden;
  }
  #secondaryContent {
	float: left;
	margin-top: 150px;
	width: 440px;
	padding-left: 25px;
  }
  
.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
  }
  

/* Contact Info
------------------------------------*/
footer {
	background: #343434;
	color: #F7FFF7;
  }
  .contact-list {
	list-style-type: none;
	padding: 0;
  }
  .contact-list a {
	padding: 15px;
	display: inline-block;
  }
 