html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

.body{
	float:left;
}

.nav{
	color:dark;
	appearance:sm;
	background-color:red;
}
@media screen and (min-width: 750px){
	.img{
		width: 100px;
		float: left;
		margin-bottom: 20px;
	}
}
